.task-container{
    width: 100%;
    height:100%;
    text-align: center;
}
.task-container h2{
    margin: 3% 0%;
    color: rgb(76, 5, 5);
}
.task-form{
    margin: 0% 0% 5% 0%;
}
.task-form input{
    background-color: white;
    width: 30%;
    height:30px;
    margin: 0% 0.5% 0% 0%; 
    border: none;
    border-radius: 5px;
    text-align: center;
}
.task-form button{
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1em;
    font-weight: 600;
    padding: 0.4% 1%; 
    border: none;
    border-radius: 5px;
}

.show-task-details{
    display: flex;
    margin: 1% 15%;
    width: 70%;
    height:50px;
    background-color: antiquewhite;
}
.show-task-details h5{
    width: 25%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.show-task-details textarea{
    width: 70%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: none;
}
.show-task-details p{
    width: 5%;
    background-color: rgb(255, 255, 255);
}

.show-container button{
    width:100%;
    height:50px;
    font-size: 1em;
    font-weight: 600;
    margin: 0% 5%;
    border: none;
}

@media screen and (max-width: 400px){
    .task-container h2{
        margin: 10% 0%;
        color: rgb(76, 5, 5);
    }
    .task-form{
        margin: 0% 0% 10% 0%;
    }
    .task-form input{
        height:25px;
    }
    .show-task-details{
        margin: 0.5% 10%;
        width: 80%;
    }
    .show-task-details h5{
        width: 25%;
    }
    .show-task-details textarea{
        width: 60%;
    }
    .show-task-details p{
        width: 15%;
    }
}
@media screen and (min-width: 400px){
    .task-container h2{
        margin: 10% 0%;
        color: rgb(76, 5, 5);
    }
    .task-form{
        margin: 0% 0% 10% 0%;
    }
    .task-form input{
        height:25px;
    }
    .show-task-details{
        margin: 0.5% 10%;
        width: 80%;
    }
    .show-task-details h5{
        width: 25%;
    }
    .show-task-details textarea{
        width: 67%;
    }
    .show-task-details p{
        width: 8%;
    }
}
@media screen and (min-width: 700px){
    .task-container h2{
        margin: 5% 0%;
        color: rgb(76, 5, 5);
    }
    .task-form{
        margin: 0% 0% 5% 0%;
    }
    .show-task-details{
        margin: 0.5% 15%;
        width: 70%;
    }
    .show-task-details h5{
        width: 25%;
    }
    .show-task-details textarea{
        width: 68%;
    }
    .show-task-details p{
        width: 7%;
    }
}
@media screen and (min-width: 900px){
    .task-container h2{
        margin: 3% 0%;
        color: rgb(76, 5, 5);
    }
    .task-form{
        margin: 0% 0% 5% 0%;
    }
    .show-task-details{
        margin: 0.5% 16.5%;
        width: 67%;
    }
    .show-task-details h5{
        width: 25%;
    }
    .show-task-details textarea{
        width: 69%;
    }
    .show-task-details p{
        width: 6%;
    }
}